@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
.editor {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: 'Alkatra', cursive;
}

.event-form {
    background-color: rgb(37, 37, 37);
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-input input {
    border: none;
    width: 100%;
    background-color: black;
    color: white;
    line-height: 30px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    outline: none;
    font-family: 'Alkatra', cursive;
}

.ck-editor__editable_inline {
    min-height: 300px;
}

.event-input {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.editor label {
    padding: 5px 0px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.event-editor {
    flex: 1;
}

.editor button {
    cursor: pointer;
    margin: 20px 0px 0px 0px;
    background-color: rgb(0, 153, 255);
    border: none;
    line-height: 25px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Alkatra', cursive;
}

.editor button:hover {
    background-color: rgb(2, 123, 204);
}