.sidebar-container {
    background-color: #000000;
    color: rgb(231, 233, 234);
    width: 20%;
    min-height: 100vh;
    max-height: 100vh;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border-right: 1px solid gray; */
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar-box button {
    cursor: pointer;
    line-height: 50px;
    background-color: rgb(53, 156, 241);
    border-radius: 25px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 0px 20px 0px 20px;
    margin-top: 10px;
    width: 80%;
}

.sidebar-box button:hover {
    background-color: rgb(53, 156, 200);
}

.company {
    height: 40px;
    width: 40px;
}

.company img {
    height: 40px;
}

.add-or-logout {
    margin: 10px auto;
    border-radius: 30px;
    padding: 10px;
    width: 80%;
    color: rgb(231, 233, 234);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(32, 35, 40);
}

.add-or-logout .profile-info {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.account-details .disp-name {
    font-weight: bold;
}

.account-details .user-name {
    color: gray;
    font-size: 14px;
    overflow-wrap: anywhere;
}

.add-or-logout .ppic {
    display: grid;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 50%;
}

.add-or-logout .ppic img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.add-or-logout .threedots button img {
    cursor: pointer;
    filter: invert(1);
    height: 20px;
}

.add-or-logout .threedots button {
    background-color: transparent;
    border: none;
}

.add-or-logout:hover {
    background-color: rgb(15, 17, 19);
}


/* .add-or-logout {
    display: none;
} */

@media (max-width: 800px) {
    .sidebar-container {
        width: 50px;
    }
    .account-details {
        display: none;
    }
    .add-or-logout {
        padding: 0;
    }
}