/* .profile-gallary {
    width: 100%;
    border: 1px solid white;
} */


/* .profile-gallary  */

.gallary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-y: scroll;
    width: 100%;
}

@media (max-width: 800px) {}